/*
    Daily's Wreck 'Em Rabbitry - Style Sheet
    Author: Kenneth Daily
    Date: May 8, 2026

    Filename: style.css
    Description: This CSS file defines the styles for Daily's Wreck 'Em Rabbitry website

    Supporting Files: plan.md, retrospective.md, scope.md, index.html, about.html, README.md
*/

body {background-color: #ededed}
header {background-color: #000000}
header {color: #e90802}
