/*
    Daily's Wreck 'Em Rabbitry - Style Sheet
    Author: Kenneth Daily
    Date: May 8, 2026

    Filename: style.css
    Description: This CSS file defines the styles for Daily's Wreck 'Em Rabbitry website

    Supporting Files: plan.md, retrospective.md, scope.md, index.html, about.html, README.md
*/

body {background-color: #000000}
header {background-color: #000000}
header {color: #e90802}
header {text-align: center}
ul {color: #e90802}
header img {
  width: 150px;
  height: 150px;
  object-fit: cover; /* Keeps image centered and un-squashed */
  border-radius: 48%;
  border: 5px solid #333; /* Optional frame/border */}
body {color: #FFFFFF}
footer {text-align: center; color: #e90802; font-size: larger}
img {
  width: 150px;
  height: 150px;
  object-fit: cover; /* Keeps image centered and un-squashed */
  border: 5px solid #333; /* Optional frame/border */}